.our-tours {
  text-align: center;
  margin: auto;
}
.info-details {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  margin: 15px 282px;
  display: flex;
  justify-content: space-between;
}

.info {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  margin: 15px 282px;
}

.main-tour-sec h1 {
  text-align: center;
  border-width: 100px;
  border-bottom: 1px solid #707070;
  padding: 40px 0;

}

.btn-para-sec{
  padding: 20px 0;
}

.btn-para-sec button {
  padding: 10px 10px;
  text-transform: uppercase;
}
.loading {
  text-align: center;
  margin: auto;
}
.No-tour-left {
  text-align: center;
  margin: auto;
}